/* General */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    background-color: #f4f4f9;
    height: 100%; 
    box-sizing: border-box; 
}



.nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav li a {
    position: relative;
    color: #002E5F;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav li a::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%;
    width: 0; 
    height: 2px; 
    background-color: #002E5F; 
    transition: width 0.3s, left 0.3s;
}

.nav li a:hover {
    color: #002E5F;
}

.nav li a:hover::after {
    width: 100%;
    left: 0;
}

/* Estilo para la sección de contacto */
#contacto-section {
    padding: 40px 20px 90px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(169, 169, 169, 0.3);
    font-size: 1.1rem;
    line-height: 1.6;
}

#contacto-section h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(169, 169, 169, 0.3);
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #C79316;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Mensaje de éxito */
#successMessage {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 1.1rem;
}

/* Información de contacto */
#informacion-contacto {
    background-color: #fff;
    padding: 100px 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(169, 169, 169, 0.3);
    font-size: 1.1rem;
    line-height: 1.6;
}

#informacion-contacto h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #C79316;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-item {
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.info-item:hover {
    background-color: #C79316;
    color: #002E5F;
    transform: translateY(-5px);
}

.info-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Estilos del pie de página */
.pie-pagina {
    background-color: #002E5F;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos del Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botón para ver los mensajes */
#viewMessagesBtn {
    background-color: #C79316;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#viewMessagesBtn:hover {
    background-color: #555;
}
