body, html {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    background-color: #f4f4f9;
    height: 100%; 
    box-sizing: border-box; 
}

#planta-section {
    padding: 40px 20px 90px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(169, 169, 169, 0.3);
    font-size: 1.1rem;
    line-height: 1.6;
}

#planta-section h2 {
    color: #333;
    margin-bottom: 20px;
}

#plantaForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(169, 169, 169, 0.3);
}

input, textarea, select {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#dropZone {
    width: 300px; 
    height: 70px;
    margin: 40px auto;
    border: 2px dashed #ccc; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#dropZone img{
    max-width: 100%;
    max-height: 200px;
}

#preview {
    width: 500px;
    height:400px;
    border: 4px dotted goldenrod;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
    margin: 20px auto 40px;
    align-content: center;

}

#preview img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: auto;
}

#fileInput{
    display: none;
}

button {
    background-color: #C79316;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}