<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero Institucional</title>
    <link rel="stylesheet" href="../../public/Css/encabezado.css">
    <link rel="stylesheet" href="../../public/Css/Index.css">
    
    <style>
        @media print{
            body,html{
                background-color: white;
            }
            #contenedor-Objetivo{
                padding-top: 150px;
                box-shadow: 0 4px 15px white;
            }

            #acciones-Logros{
                padding-top: 200px;
                padding-bottom: 150px;
                box-shadow: 0 4px 15px white;
            }
        }
    </style>
</head>
<body>
    <header id="encabezado">
        <div class="encabezado-container">
            <div class="logo-container">
                <img src="../../public/Svg/logo_uady.svg" alt="logo UADY" class="logo">
                <img src="../../public/img/RSULogo.png" alt="logo RSU" class="logo">
            </div>
            <div  class="dicho-uady">
                <h4>"Luz, Ciencia y Verdad"</h4>
            </div>
            
            <nav>
                <ul class="nav">
                    <li><a href="">Inicio</a></li>
                    <li><a href="../home/catalogo.html">Catálogo</a></li>
                    <li><a href="../home/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="parallax">
        <div id="tituloVibero">
            <h1>Vivero</h1>
            <h1>Institucional</h1>
        </div>
    </div>
    

    <main>
        <section id="contenedor-Objetivo">
            <h2>Nuestro Vivero</h2>
            <p>El objetivo del vivero es realizar la reproducción de plantas nativas para la reforestación en los campus, ayudando a reducir los efectos del cambio climático y la conservación de la biodiversidad de las especies vegetales de la región, en beneficio de la sustentabilidad a través de la reproducción de las especies mediante la colecta y rescate de germoplasma nativo para su multiplicación.</p>
            <p>También aporta un área que sirva como escenario real de aprendizaje, donde se contribuye con la formación de los estudiantes acorde al Modelo Educativo para la Formación Integral, mediante visitas guiadas informativas y descriptivas sobre la importancia de los árboles nativos, así como cursos y talleres.</p>
        </section>

        <section id="imagenes-galeria">
            <h2>Imágenes del sitio</h2>
            <div class="galeria">
                <img src="../../public/img/ImagenVivero1.jpg" alt="ImagenVivero1" class="imagen-zoomable">
            </div>
        </section>

        <section id="acciones-Logros">
            <h2>Acciones y Logros</h2>
            <p>El vivero cuenta con más de 5,452 plantas pertenecientes a 96 especies de árboles nativos de Yucatán, tanto maderables, ornamentales, frutales como medicinales.</p>
            <p>Entre las plantas que se reproducen, destacan especies de gran valor cultural como el hule maya (Castilla elastica), la jícara (Crescentia cujete) y el balché (Lonchocarpus longistylus).</p>
            <p>Como parte del programa de reforestación, se han plantado 1,140 especies en los últimos cuatro años en facultades y escuelas preparatorias.</p>
            <p>Se han realizado talleres de cultivos orgánicos y se ha colaborado con asignaturas como el “Taller ambiental” de la Facultad de Economía (UADY).</p>
            <p>En 2021, se lograron germinar 967 semillas de 7 especies recolectadas en salidas de campo: jícara, balché, kanasin, takinche, anacahuite, pimienta, mango, guayaba y naranja.</p>
        </section>
    </main>

    <footer class="pie-pagina">
        <div class="pie-pagina-content">
            <p>Responsabilidad Social Universitaria</p>
            <p>© Todos los Derechos Reservados, UADY 2024</p>
            <p>Administrar Vivero: <a href="../admin/login.php">Administrar</a></p>
        </div>
    </footer>

    <button onclick="regresarArriba()" id="botonSubir" title="Subir"><p><i class="arrow up"></i></p></button>
</body>
<script src="../../public/Js/Index.js"></script>
</html>
